<%= form_for(quote) do |f| %>

  <%= f.label :text, class: "" %>
  <%= f.text_area :text, class: "form-control" %>

  <div class="quote-data">
    <%= f.collection_select(:author_id, Author.all.order(:name), :id, :name, {}, {class: "form-control dropdown-select", id: 'select-author'}) %>
    <%= f.collection_select(:writing_id, Writing.all.order(:title), :id, :title_with_alt_title, {}, {class: "form-control dropdown-select", id: 'select-writing'}) %>
  </div>

  <input type="text" placeholder="Filter Concepts" id="concepts-search" class="form-control">
  <div class="">
    <%= f.collection_check_boxes(:concept_ids, Concept.all, :id, :name) do |b| %>
      <%= b.check_box(class: "hide hidden-checkbox") %>
      <%= b.label(class: "checkbox-label col-sm-2 concept-btn btn btn-success col-sm-2", id: b.object.name) %>
    <% end %>
  </div>

  <div>
    <p>New Concept</p>
    <%= render partial: 'concepts/form' %>

  </div>

  <%= f.submit class: 'btn btn-info submit-btn' %>

<% end  %>

<style media="screen">
  </style>
