<h1>Authors</h1>

<% @authors.each do |author| %>
  <ul class="ul_no_pad">
    <li class="no-bullet">
      <% if author.start && author.end %>
        <%= link_to author.name, author_path(author), class: 'author-name-title'%> (<%= author.start %> - <%= author.end %>)
        <span class="ministry"></span>
      <% end %>
      <br>
      <span class="author-metadata">This Author has written the following books:</span><br>
      <span class="author-metadata">Read this author's quotations on the following Concepts:
        <% author.concepts.uniq.each_with_index do |concept, i| %>
          <%= link_to concept.name, concept_path(concept) %><%= i < author.concepts.length - 1 ? ',' : '' %>
        <% end %>
      </span><br>
    </li>
    <br>
  </ul>
<% end %>

<style media="screen">
  .author-name {
    font-size: 1.3em;
  }
  .author-metadata {
    margin-left: 15px;
  }
</style>
